body{
    background-image: url("https://s1.1zoom.me/big0/951/Fast_food_Hamburger_Buns_French_fries_Vegetables_566270_1280x853.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 ,p{
    color:white;
}

